{{componentname}}

<style type="text/css">

    .btn .btn-primary {
        color: #fff;
        background-color: #5e64ff;
        border-color: #5e64ff;
    }

</style>

<div>
    <br><br>
    <form class="col-4" ng-submit="addUser()">
        <b>{{message}}</b>
        <p>ADD EMPLOYEE</p>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="name" name="name" placeholder="Name">
        </div>
        <br>
        <div class="form-group">
            <input type="email" class="form-control" ng-model="email" name="email" placeholder="Email">
        </div>
        <br>

        <div class="form-group">
            <label for="role">Assign to role</label>
            <select class="form-control" id="role" name="role" ng-model="role">
                <option value="" selected hidden>Select Role</option>
                <option value="2" selected>Manager</option>
                <option value="3" selected>Team Leader</option>
                <option value="4" selected>Team Member</option>

            </select>
        </div>
        <br>
        <div class="form-group">
            <input type="password" class="form-control" ng-model="password" name="password" placeholder="Password" autocomplete="true" ng-model="pwd">
        </div>
        <br>
        <input type="submit" name="insert" class="btn btn-primary col-12" value="Submit">
    </form>
</div>